.container {
	--box-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-around;
	background: white;
	/* margin: 2rem auto;
	border: 1px solid var(--box-color);
	max-width: calc(600px + 10vw);
	box-shadow: var(--main-box-shadow);
	padding: 1rem 1.5rem; */
}
.leftSide {
	display: flex;
	align-items: center;
}
.hourDestination {
	margin: 0 1rem;
	display: flex;
	flex-direction: column;
}
.hourDestination > * {
	margin: 0;
}
.rightSide {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.rightSide > * {
	margin: 0;
}
.rightSide p {
	font-size: x-large;
	margin-bottom: 0.5rem;
}
