.container {
	--box-color: rgba(0, 0, 0, 0.1);

	display: flex;
	border: 1px solid var(--box-color);
	justify-content: space-around;
	background: white;
	margin: 2rem 20%;
	box-shadow: var(--main-box-shadow);
	padding: 1rem 1.5rem;
}
.leftSide {
	display: flex;
	align-items: center;
}
.hourDestination {
	margin: 1rem;
	display: flex;
	flex-direction: column;

	& > * {
		margin: 0;
	}
}
.rightSide {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	& > * {
		margin: 0;
	}
	& p {
		font-size: x-large;
		margin-bottom: 0.5rem;
	}
}

.btnSelect {
	padding: 0.4rem 0.8rem;
	font-size: large;
	font-weight: bold;
	border-radius: 7px;
	outline: none;
	border: none;
}
