.options {
	background: white;
	width: 150%;
	display: flex;
	flex-direction: column;
	position: absolute;
	border: 1px solid black;
	top: 100%;
}
.option {
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.increseDecreseSec {
	display: flex;
	align-items: center;
	& button {
		cursor: pointer;
		width: 2.5rem;
		height: 2.5rem;
	}
	& span {
		margin: 0 0.3rem;
	}
}
.inputContainer span {
	display: block;
}
.optionButton {
	cursor: pointer;
}
