.rdp {
	--selected-background: rgba(255, 166, 0, 0.356);
	--font-color-selected: rgba(146, 95, 0, 0.863);
	--today: rgba(255, 166, 0, 0.8);
}
.my-today {
	border: 1px solid var(--today);
	font-weight: 600;
	color: var(--today); /* rgba(0, 38, 255, 0.797); */
	/* background-color: var(--today-background); */
}
.my-selected {
	color: var(--font-color-selected);
	background-color: var(--selected-background);
}
.calendar {
	z-index: 2;
	background-color: white;
	box-shadow: var(--main-box-shadow);
	border: 1px solid var(--main-box-shadow-color);
}
.calendar-positioning {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

/* Overrides */

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
	color: white;
	background-color: var(--font-color-selected);
}

.rdp-caption {
	color: var(--font-color-selected);
	background-color: var(--selected-background);
}
